.calendar-wraper{
	width: 360px;
	margin: 3em auto;
	padding: 2em;
	border: 1px solid #dcdcff;
	border-radius: 5px;
	background: #fff;
	position: relative;
}
.calendar-wraper.clock-active{
	display: none;
}
table {
	clear: both;
	width: 100%;
	border: 1px solid #dcdcff;
	border-radius: 3px;
	border-collapse: collapse;
	color: #444;
 }
 td {
	height: 48px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #dcdcff;
	border-top: 1px solid #dcdcff;
	width: 14.28571429%;
	transition: all 0.1s ease 0.1s;
 }
 thead td {
	border: none;
	color: #28283b;
	text-transform: uppercase;
	font-size: 1.5em;
 }
 td.not-current {
	color: #c0c0c0;
 }
 td.today {
	font-weight: 700;
	color: #28283b;
	font-size: 1.5em;
 }
 td:not(.days td,.month-name):hover{
	background: #28283b74;
	transition: all 0.3s ease 0s;
 }
 #btnPrev {
	float: left;
	margin-bottom: 20px;
 }
 #btnPrev:before {
	content: '\f104';
	font-family: FontAwesome;
	padding-right: 4px;
 }
 #btnNext {
	float: right;
	margin-bottom: 20px;
 }
 #btnNext:after {
	content: '\f105';
	font-family: FontAwesome;
	padding-left: 4px;
 }
	#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}
#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}
 .clock {
	
display: none;
}
.clock.clock-active{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	left: 41.5%;
	display: block;
}
.clock-wraper {
	position: relative;	       
	margin: 0 auto;
	 border: solid 4px black; 
 	width: 320px;
	height: 320px; 
	 border-radius: 50%; 
}

.clock-wraper::before,.clock-wraper::after{
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
}
.clock-wraper::before{
	top: 3%;
	left: 3%;
	width: 300px;
	height: 300px;
	border: solid 2px black;
}
.clock-wraper::after{
	top: 45%;
	left: 46%;
	width: 20px;
	height: 20px;
	border: solid 2px black;
	background: #000;
}
.hour{
	font-size: 40px;
	display: block;
	position: absolute;
	cursor: pointer;

}
.twelwe{
	top: 1%;
	left: 43%;
}
.one{
	top: 6%;
	left: 68%;
}
.two{
	top: 21%;
	left: 84%;
}
.three{
	right: 4%;
	bottom: 45%;
}
.four{
	bottom: 25%;
	left: 85%;
}
.five{
	bottom: 8%;
	left: 70%;
}
.six{
	bottom: 1%;
	left: 48%;
}
.seven{
	bottom: 8%;
	left: 25%;
}
.eight{
	bottom: 25%;
	left: 8%;
}
.nine{
	left: 4%;
	bottom: 45%;
}
.ten{
	top: 21%;
	left: 9%;
}
.elewen{
	top: 6%;
	left: 26%;
}
.arrow-hour{
	border: solid 1px black;
	width: 7px;
	height: 80px;
	background: #000;
	position: absolute;
	top: 23%;
	left: 48%;
}
 
.arrow-minute {
	border: solid 1px black;
	width: 3px;
	height: 110px;
	background: #000;
	position: absolute;
	top: 14%;
	left: 48.5%;
}
.choise-block>label{
	font-size: 25px;
	max-width: 300px;
	display: block;
	text-align: center;
}
.choise-block input{
	width:30px;
	height:30px;
}
.choise-block{
	padding:20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.am-pm-block{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.am-pm-block label{
	font-size: 27px;
}